.Post {
    display: flex;
    padding: 2rem;
    width: 50%;
    min-height: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #00000050;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    border-radius: 3px;

    header {
        font-size: 3rem;
    }

    span {
        font-size: 1.5rem;
    }

    .Content {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 70%;
        min-height: 40%;
        font-size: 1.5pc;
    }
}